@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gray-900;
    @apply text-slate-50;
}

a {
	color: rgb(96, 165, 250);
	text-decoration: none;
	transition: color 0.2s;
}

a:hover {
	color: rgb(147, 197, 253);
}

strong {
	color: rgb(229, 231, 235);
}

em {
	color: rgb(156, 163, 175);
}
